Django
django-allauth
Pillow
django-cors-headers
django-countries
django-extensions
django-grappelli
django-tastypie
djangorestframework
django-tastypie-swagger
django-languages
djangorestframework-jwt
django-rest-auth[with_social]
django-filter
django-guardian
django-model-utils
django-cleanup
django-unused-media
django-markdown
django-uuidfield
django-sortedm2m
django-haystack
drf-haystack
elasticsearch
elasticstack
django-polymorphic
django-categories
django-pagedown
