atomicwrites
attrs
certifi
chardet
coverage
defusedxml
Django
django-allauth
django-categories
django-cors-headers
django-countries
django-extensions
django-filter
django-grappelli
django-guardian
django-haystack
django-languages
django-model-utils
django-mptt
django-pagedown
django-polymorphic
django-rest-auth
django-sortedm2m
-e git+https://github.com/django-tastypie/django-tastypie@45a07781c9e9c830f9b679770fdfea76a98b9bf0#egg=django_tastypie
django-tastypie-swagger
djangorestframework
djangorestframework-jwt
drf-haystack
elasticsearch
elasticstack
entrypoints
filelock
flake8
idna
mccabe
more-itertools
oauthlib
packaging
Pillow
pluggy
py
pycodestyle
pyelasticsearch
pyflakes
PyJWT
pyparsing
pytest
pytest-cov
pytest-django
pytest-flake8
pytest-readme
pytest-sugar
python-dateutil
python-mimeparse
python3-openid
pytz
requests
requests-oauthlib
simplejson
six
termcolor
toml
tox
unicode-slugify
Unidecode
urllib3
virtualenv
